{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% for u in titles %}
    {% if forloop.first %}
      <input type="button" onclick="location.href='/key/pdf/{{u.presentation_id}}/';" value="Download" style="position: absolute; top: 0; left: 0; z-index: 999;" />
    {% endif %}
  {% endfor %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Presentation</title>

  <!-- Required stylesheet -->
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.core.css'%}">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.goto.css'%}">
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.menu.css'%}">
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.navigation.css'%}">
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.status.css'%}">
  <link rel="stylesheet" media="screen" href="{% static 'css/deck.scale.css'%}">
  <!-- <link rel="stylesheet" href="{% static 'css/introduction.css'%}"> -->

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <!-- <link rel="stylesheet" media="screen" href="{% static 'css/web-2.0.css'%}"> -->
  

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" media="screen" href="{% static 'css/horizontal-slide.css'%}">

  <!-- Basic black and white print styles -->
  <link rel="stylesheet" media="print" href="{% static 'css/print.css'%}">



  <!-- Required Modernizr file -->
  <script src="{% static 'js/modernizr.custom.js'%}"></script>
  <script>

      // Function to change webpage background color
  
      function changeBodyBg(color){
  
          document.body.style.background = color;
  
      }

  
  </script>
</head>
<body style="background:url('/static/3d.jpg');background-size:100% 100%;background-repeat:'no-repeat' ">    

  <div class="deck-container">
      

    <!-- Begin slides. Just make elements with a class of slide. -->
{% for title in titles %}
{% if title.description %}
<section class="slide" id="how-to-overview">
      <center><h2 id="presentaion_title"><u>{{title.title}}</u></h2>
      
      <p>{{title.description|safe}}</p></center>

    </section>
    {%endif%}
{% endfor %}



    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p aria-role="status" style="bottom: 0; position: absolute; size: 10px; font-size: small;">
        &copy; gktcs Innovations pvt. ltd. 2019
    </p>
    <div style="position: absolute; bottom: 0; right: 0; height: 100px;">
        <IMG SRC="/static/gktcs_logo.png" ALT=""  HEIGHT=100>
    </div>
    
    <p class="deck-status" aria-role="status" style="right: 110px;">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    

    <!-- deck.goto snippet -->
    <div style="margin-left:auto; margin-right:auto;">
        <form action="." method="get" class="goto-form">
          <label for="goto-slide" style="font-size:15px">Go to slide:</label>
          <input type="text" name="slidenum" id="goto-slide" list="goto-datalist" style="font-size:10px">
          <datalist id="goto-datalist"></datalist>
          <input type="submit" value="Go" style="font-size:20px">
        </form>
      </div>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/deck.core.js'%}"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="{%static 'js/deck.menu.js'%}"></script>
<script src="{%static 'js/deck.goto.js'%}"></script>
<script src="{%static 'js/deck.status.js'%}"></script>
<script src="{%static 'js/deck.navigation.js'%}"></script>
<script src="{%static 'js/deck.scale.js'%}"></script>
<script src="{%static 'js/introduction.js'%}"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>